/* general settings */

.fa-columns {
    color: #663;
}

.nav-pills .nav-link.active {
    color: white;
    background-color: black;
}

.nav-pills .nav-link {
    color: black;
}

#updateBtn {
    display: none;
}

.region,
.province,
.city {
    display: none;
}

small.form-text {
    font-size: 0.65em;
}

.regBtn:disabled {
    background-color: gray;
    border-color: gray;
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.99px) {
    .section {
        display: none;
        position: absolute;
        z-index: 3;
        background-color: white;
        top: 88px;
        left: 3px;
    }
    #sectionParent {
        border: 1px solid #343a40;
        border-radius: .25rem;
    }
    .sectionLabel {
        font-weight: 900;
        font-size: 1.1rem;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .nav .nav-link {
        padding-top: 6px;
        padding-bottom: 6px;
        border: 1px solid #343a40;
    }
}